* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
#header,
#main,
#footer {
    width: 100%;
    height: 100% ;
    display: flex;
    justify-content: space-around;
}

#container_header {
    background-color: #FDBB40;
    height: 80px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#container_header_right {
    background-color: #ffcb6aec;
    height: 80px;
    width: 50%;
}

.title {
    font-size: 30px;
    color: black;
}

.img_burger {
    width: 120px;
    object-fit: cover;
    position: absolute;
    margin: 0 45%;
}
/* fine  header */

/* main */
#scegli_burger{
    height: 560px;
    width: 50%;
    background-color: lightblue;
}

#scegli_burger_right {
    height: 560px;
    width: 50%;
    background-color: #ffcb6aec;
}

#burger {
    height: 50px;
    width: 670px;
} 

.little_box {
    text-align: center;
    margin: 20px 50px;
    border: none;
}

#ingredient {
    height: 300px;
    width: 670px;
}

.dati {
    margin: 20px 50px;
}

.dati_ingredients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 35px;
}

.discount_coupon {
    float: left;
    margin: 0 10px;
}

.coupon {
    margin: 15px 35px;
    float: left;
}

.img_ingredients {
    width: 50px;
    object-fit: cover;
    float: left;
    margin: 10px 0;
}

.checkmark {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #F9395E;
}

.add {
    color:  #F9395E;
    text-decoration: none;
    margin: 10px;
}

.box_coupon {
    float: left;
    background-color: lightyellow;
    color: gray;
    width: 450px;
    margin: 0 30px;
    border: none;
}

.container_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50%;
}

.btn_calculate {
    background-color: #FDBB40;
    color: black;
    display: inline-block;
    margin: 0 10px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
}
/* fine main */

/* footer */
#container_footer {
    background-color: #F9395E;
    height: 80px;
    width: 50%;
    color: white;
}

#container_footer_right {
    background-color: #ffcb6aec;
    height: 80px;
    width: 50%;
}

.title_price {
    font-size: 25px;
    margin: 0 50px;
}

#prezzo {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
}
/* fine footer */
